@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=VT323&display=swap');

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "PT Mono";
}

 .form_body{
  width: 40%;
  margin:7rem 2rem;
  box-shadow: 10px 10px 8px 10px #888888;
  padding: 2rem;
  border-radius: 5px;
 }

 .title_bar{
  font-family: "VT323";
  font-size: 1.5rem;
 }

